/* TODO:
- dropdown hover effect for 1st and 2nd level
- Add hamburger effect
- Slideshow on top ?
- Responsive design: Tablets
- Responsive design: desktop
- Responsive other effects tbc */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* = 10px */
}

:root {
  --primary-color: #5E1011; /* dark red */
  --secondary-color: #E0E0E0; /* grey */
}

/* ===== Header ===== */
header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* ===== Body ===== */
main {}

article {}

/* ===== Footer ===== */
footer {
  background-color: var(--primary-color);
}

.social-medias ul {
  /* Presets */
  list-style: none;
  /* Grid */
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: minmax(50px, auto);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto); */
}

.social-medias ul li a,
.footer-links ul li a {
  cursor: pointer;
}

.social-medias ul li a img {
  /* TODO: Change image colors to white */
}

.footer-links {
  font-family: 'Franklin Gothic Medium', 'Times New Roman', serif;
  font-style: italic;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}

.credit-text {
  color: var(--secondary-color);
}

/* TODO: Create automatic and interactive Slideshow after header */
/* ===== Main presets ===== */
h1 {
  font-family: 'Franklin Gothic Medium', 'Times New Roman', serif;
  font-style: italic;
  text-align: center;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Times New Roman', serif;
  font-style: italic;
  text-align: center;
  color: var(--secondary-color);
  background-color: #000;
  padding: 0.7em;
  margin: 0.8em;
}

p {
  font-family: 'Franklin Gothic Medium', 'Times New Roman', serif;
  margin: 0 0 1em 0.8em;
}

figcaption {
  font-family: 'MS Reference Sans Serif';
  background-color: #000;
  color: var(--secondary-color);
}

/* ===== Navigation bar ===== */
nav ul,
.dropbtn {
  font-family: 'Franklin Gothic Medium', 'Times New Roman', serif;
}

nav ul {
  /* background-color: var(--primary-color); */
  text-align: left;
  /* Add padding; Note: 'Mission' font size is slightly bigger */
}

nav a,
nav button {
  color: var(--secondary-color);
}

nav ul li {
  display: inline;
}

/* Reset button styles */
.dropbtn {
  border: none;
  background-color: inherit;
}

.dropdown-content {
  display: none;
}

/* UTILITIES */

/* .dropdown:hover .dropdown-content {
  display: block;
} */

nav ul li:hover {
  background-color: #000;

}

a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

/* TODO: Change font size according to the README */
/* ===== Mobile ===== */
/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 320px) and (max-width:480px) {

  /* Size Presets */
  /* font sizes */
  h1 {
    font-size: 28.8px;
  }

  h2 {
    font-size: 20.8px;
  }

  p {
    font-size: 16px;
    /* leading (line height) */
    line-height: 23.2px;
  }

  figcaption {
    font-size: 16px;
  }

  nav ul,
  .dropbtn {
    font-size: 15px;
  }

  /* Position presets */
  article h2 {
    margin-bottom: 2em;
  }

  .figure-frame {
    margin-top: 4em;
    margin-bottom: 2em;
  }

  .figure-frame figure picture source,
  .figure-frame figure picture img {
    width: 100%;
  }

  figcaption {
    padding: 0.7em;
    margin: 0.8em;
    transform: translate(0, -40px);
  }

  nav ul li {
    display: block;
  }

  /* ===== Footer ===== */
  .follow-us-text {
    font-family: 'Franklin Gothic Medium', 'Times New Roman', serif;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 1em;
    padding-top: 2em;
    font-size: 20.8px;
  }

  /* POSITION social media icons */
  .social-medias {
    margin: 0 auto;
    width: 200px;
  }

  .social-medias ul {
    /* Flex-Box */
    display: flex;
    justify-content: center;
    /* flex shorthand in order:
       flex-grow
       flex-shrink
       flex-basis */
    /* flex-flow shorthand:
       flex-direction
       flex-wrap */
    flex-flow: row wrap;
  }

  .social-medias ul li {
    margin: 2.5em;
  }

  /* Social media sizes */
  .social-medias ul li a img {
    width: 48px;
    height: 48px;
  }

  /* POSITION footer-links */
  .footer-links {
    width: 300px;
    margin: 0 auto;
  }

  .footer-links ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 20.8px;
  }

  .footer-links ul li a {
    margin: 1em;
  }

  .footer-links ul {
    /* Flex-Box */
    display: flex;
    justify-content: space-between;
    /* flex shorthand in order:
       flex-grow
       flex-shrink
       flex-basis */
    /* flex-flow shorthand:
       flex-direction
       flex-wrap */
    flex-flow: row wrap;
    margin-top: 10em;
  }

  .rocket {
    margin: 19em auto;
  }

  .credit-text {
    text-align: center;
    margin: 0;
    }

  /* Utilities */
  .dropdown-content.active {
    display: block;
  }

  /* MORE Utilities here? Yet to decide... or don't at all */
  /* TODO: Add padding for mobile navigation bar... DONE... But is it correct? */
  nav ul>li {
    /* background-color: var(--primary-color); */
    text-align: left;
    /* Add padding; Note: 'Mission' font size is slightly bigger */
    padding: 0.5em;
  }
}

/* ===== Tablet ===== */
/* Low Resolution Tablets, Mobiles (Landscape) */
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* Size Presets */
  h1 {
    font-size: 43.2px;
  }

  h2 {
    font-size: 31.2px;
  }

  p {
    font-size: 24px;
    line-height: 34.8px;
  }
}

/* Desktop */
/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px)

/* and (max-width: 1280px) */
  {

  /* Size Presets */
  /* TODO: Fix font size for desktop. TEST! */
  h1 {
    font-size: 57.6px;
  }

  h2 {
    font-size: 41.6px;
  }

  p {
    font-size: 32px;
    /* line-height: 41.6px; */
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {}
