* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #5E1011; /* dark red */
  --secondary-color: #E0E0E0; /* grey */
}

/* body text */
p {
  font-size: 20px;
}
