* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #5E1011; /* dark red */
  --secondary-color: #E0E0E0; /* grey */
}

/* Header */

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* TODO: Create automatic and interactive Slideshow after header */

/* body text */
h1 {
  font-family: 'Franklin Gothic Medium', 'Times New Roman', serif;
  font-style: italic;
  font-size: 40px;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Times New Roman', serif;
  font-style: italic;
  font-size: 30px;
}

p {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Times New Roman', serif;
}

/* Navigation bar */
nav ul {
  /* background-color: var(--primary-color); */
}

nav a,
nav button {
  color: var(--secondary-color);
}

nav ul li {
  display: inline;
}

/* Reset button styles */
.dropbtn {
  border: none;
  background-color: inherit;
}

.dropdown-content {
  display: none;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

/* ===== Mobile ===== */
/* smartphones, iPhone, portrait 480x320 phones */
/* @media (min-width:320px)  {

} */

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 320px) and (max-width:481px)  {
  /* Size Presets */
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 26px;
  }

  p {
    font-size: 15px;
  }

  nav ul li {
    display: block;
  }

  .dropdown-content.active {
    display: block;
  }
}

/* ===== Tablet ===== */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
  /* Size Presets */
  h1 {
    font-size: 38px;
  }

  h2 {
    font-style: 28px;
  }

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {

}

/* Desktop */
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  /* Size Presets */
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {

}
