@use '../base/typography' as *
@use '../base/color' as *
@use '../base/space' as *

// DEFAULT || DESKTOP-TABLET VIEW
header
    position: relative
    display: block
    width: 100%
    height: 100vh
    background-color: $primary-color-50
    color: #fff
    picture.hero-wallpaper,
    picture.hero-wallpaper img
        width: 100%
        height: 30vh
    .logomark
        display: block
        text-align: center
        h1.title-japanese
            margin-top: $desktop-space-lv-3
    h3
        text-align: center
        display: block
        margin-top: $desktop-space-lv-2
    a.download-btn
        display: block
        text-align: center
        margin: $desktop-space-lv-2 auto 0 auto
    .line
        display: inline-block
        width: 168px
        height: 2.6px
        background-color: #fff
        border-radius: 25px
    span.line.line-top
        margin-bottom: 8.4px
    span.line.line-bottom
        margin-top: 8.4px

// MOBILE VIEW
@media (max-width: 600px)
    header
        picture.hero-wallpaper,
        picture.hero-wallpaper img
            height: 40vh
            width: 100%
        .logomark
            h1.title-japanese
                margin-top: $mobile-space-lv-3
        h3
            margin-top: $mobile-space-lv-3
        a.download-btn
            margin: $mobile-space-lv-2 auto 0 auto

