@use '../base/typography' as *
@use '../base/color' as *
@use '../base/space' as space

// TRACKING
.subheading
    letter-spacing: 8px

// SECTION: "SYNOPSIS"
main
    .container-synopsis
        width: 100%
        height: 710px
        color: #fff
        background-color: #000
        .formatter-synopsis
            position: relative
            display: block
            max-width: 960px
            margin: 0 auto
        .intro-img
            position: relative
            display: flex
            justify-content: flex-end
            top: 40px
        .text-frame
            width: 615px
            position: absolute
            top: 245px
            padding-top: space.$desktop-space-lv-1
            padding-bottom: space.$desktop-space-lv-1
            background-color: rgba(0, 0, 0, 0.6)
        .subheading-containter
            text-align: center
        .line
            display: inline-block
            background-color: #fff
            width: 219.9px
            height: 5.2px
            border-radius: 25px
        span.line.line-top
            margin-bottom: 8.4px
        span.line.line-bottom
            margin-top: 8.4px
        p
            line-height: 1.8
            margin-top: space.$desktop-space-lv-1

// SECTION: "CHARACTERS"
.container-characters
    padding-bottom: space.$desktop-space-lv-4
    h2.subheading
        font-size: calc(1rem * #{$desktop-body-text-scale-ratio} * #{$desktop-body-text-scale-ratio})
    .character-title
        position: relative
        display: block
        color: #fff
    .character-title h3.bold
        padding-bottom: space.$desktop-space-lv-half
    .character-title h2:nth-child(-n+2)
        font-weight: 900
    .character-title h2:last-child
        font-weight: 400
    .subheading-container
        display: block
        text-align: center
        margin-top: space.$desktop-space-lv-5
        margin-bottom: space.$desktop-space-lv-5
    .line
        display: inline-block
        background-color: #000
        width: 285.567px
        height: 5.2px
        border-radius: 25px
    span.line.line-top
        margin-bottom: 8.4px
    span.line.line-bottom
        margin-top: 8.4px
    .characters
        margin-left: auto
        margin-right: auto
        max-width: 960px
        margin-bottom: space.$desktop-space-lv-4
    .character-text
        background-color: #fff
        padding: space.$desktop-space-lv-2 space.$desktop-space-lv-1
        width: 465px
        z-index: 99
        p
            margin-bottom: space.$desktop-space-lv-1
    // * Stylise: Switcheroo iamge and text placement
    .formatter-reverse
        display: flex
        justify-content: space-around
        flex-direction: row-reverse
    .formatter
        display: flex
        justify-content: space-around
        flex-direction: row
    // NATSU
    div.characters.natsu
        .character-title
            display: inline-block
            margin-top: space.$desktop-space-lv-5
            padding: space.$desktop-space-lv-1 space.$desktop-space-lv-2 space.$desktop-space-lv-1 space.$desktop-space-lv-half
            background-color: $primary-color-50
            h3
                transform: rotate(-1.8deg)
            h3:nth-child(n+2)
                padding-left: space.$desktop-space-lv-1
        .character-text
            position: absolute
            color: $primary-color-60
            width: 190px
            margin-top: space.$desktop-space-lv-1
        img
            position: relative
            display: block
            margin: space.$desktop-space-lv-2 auto 0
    // GROUCHY
    div.characters.grouchy
        .character-title
            background-color: $grouchy-primary-color
        .character-text
            color: $grouchy-text-color
    // GLASSES
    div.characters.glasses
        .character-title
            background-color: $glasses-primary-color
        // * Hotfix: Prevent elements from displaying as 'inline'
        .character-title + *
            clear: both
        .character-text
            color: $glasses-text-color
    // PRINCE
    div.characters.prince
        .character-title
            background-color: $prince-primary-color
        .character-text
            color: $prince-text-color
    // HOODY
    div.characters.hoody
        .character-title
            background-color: $hoody-primary-color
    // * Stylise: character element dimensions
    div.characters.natsu,
    div.characters.grouchy,
    div.characters.prince
        .character-title
            display: inline-block
            padding: space.$desktop-space-lv-1 space.$desktop-space-lv-4 space.$desktop-space-lv-1 space.$desktop-space-lv-half
            h3
                transform: rotate(-1.8deg)
            h3:nth-child(n+2)
                padding-left: space.$desktop-space-lv-1
    div.characters.grouchy,
    div.characters.glasses,
    div.characters.prince
        .character-text
            margin-top: space.$desktop-space-lv-1
            margin-bottom: space.$mobile-space-lv-4
    div.characters.glasses,
    div.characters.hoody
        .character-title
            display: inline-block
            padding: space.$desktop-space-lv-1 space.$desktop-space-lv-half space.$desktop-space-lv-1 space.$desktop-space-lv-4
            float: right
            clear: right
            display: block
            text-align: right
            h3
                transform: rotate(1.8deg)
            h3:nth-child(n+2)
                padding-right: space.$desktop-space-lv-1
        img
            position: relative
            display: block
            clear: both
    div.characters.grouchy,
    div.characters.prince,
    div.characters.glasses,
    div.characters.hoody
        .character-image img
            margin-left: auto
            margin-right: auto
            position: relative
            display: block
        .character-image
            padding-top: space.$desktop-space-lv-2
            padding-bottom: space.$desktop-space-lv-2
        .character-text
            height: 300px
    div.characters.glasses,
    div.characters.hoody,
        .character-image img
            padding-top: space.$desktop-space-lv-2
    .characters.natsu
        img
            width: 296px
    .characters.grouchy
        img
            width: 296px
    .characters.glasses
        img
            width: 314px
    .characters.prince
        img
            width: 293px
    .characters.hoody
        img
            width: 460px

// * Stylise: Backhround image Add-on for DESKTOP VIEW
div.characters .character-title::after
    z-index: -99

// NATSU
div.characters.natsu
    width: 100%
    margin-top: space.$mobile-space-lv-5
    .character-title
        &::after
            content: ''
            width: 1440px
            height: 43px
            background: repeat url(../../images/natsu-wallpaper-icons.png)
            background-size: 700px
            position: absolute
            left: -250px
            top: 32px
    .character-image
        width: 100%
    .character-image img
        z-index: 999
    .character-image
        &::after
            z-index: 1
            content: ''
            width: 1440px
            height: 47px
            background: repeat url(../../images/natsu-wallpaper-icons.png)
            background-size: 750px
            position: absolute
            bottom: 160px
            left: -250px
// GROUCHY
div.characters.grouchy
    .character-title
        &::after
            content: ''
            width: 2000px
            height: 43px
            background: repeat url(../../images/grouchy-wallpaper-icons-reverse.png)
            background-size: 700px
            position: absolute
            left: -300px
            top: 53px
    .character-image img
        z-index: 999
    .character-image
        &::after
            z-index: -999
            content: ''
            width: 1440px
            height: 45px
            background: repeat url(../../images/grouchy-wallpaper-icons.png)
            background-size: 750px
            position: absolute
            left: -836px
            bottom: 66px
        &::before
            z-index: -999
            content: ''
            width: 1440px
            height: 45px
            background: repeat url(../../images/grouchy-wallpaper-icons-reverse.png)
            background-size: 750px
            position: absolute
            left: -836px
            top: 119px
// GLASSES
div.characters.glasses
    .character-title
        &::before
            content: ''
            width: 1440px
            height: 45px
            background: repeat url(../../images/glasses-wallpaper-icons.png)
            background-size: 750px
            position: absolute
            top: 50px
            right: -244px
    .character-image img
        z-index: 999
    .character-image
        &::after
            z-index: 1
            content: ''
            width: 1440px
            height: 45px
            background: repeat url(../../images/glasses-wallpaper-icons.png)
            background-size: 750px
            position: absolute
            bottom: 55px
            left: -288px
        &::before
            z-index: 1
            content: ''
            width: 1440px
            height: 45px
            background: repeat url(../../images/glasses-wallpaper-icons-reverse.png)
            background-size: 750px
            position: absolute
            left: -288px
// PRINCE
div.characters.prince
    .character-title
        &::after
            content: ''
            width: 2000px
            height: 44px
            background: repeat url(../../images/prince-wallpaper-icons.png)
            background-size: 700px
            position: absolute
            left: -300px
            top: 49px
    .character-image img
        z-index: 999
    .character-image
        &::after
            z-index: 1
            content: ''
            width: 1440px
            height: 48px
            background: repeat url(../../images/prince-wallpaper-icons.png)
            background-size: 750px
            position: absolute
            bottom: 59px
            left: -836px
        &::before
            z-index: 1
            content: ''
            width: 1440px
            height: 48px
            background: repeat url(../../images/prince-wallpaper-icons-reverse.png)
            background-size: 750px
            position: absolute
            left: -836px
            top: 124px
// HOODY
div.characters.hoody
    padding-bottom: space.$mobile-space-lv-2
    .character-title
        &::before
            content: ''
            width: 1440px
            height: 51px
            background: repeat url(../../images/hoody-wallpaper-icons.png)
            background-size: 800px
            position: absolute
            top: 59px
            right: -244px
    .character-image img
        z-index: 999
    .character-image
        &::after
            z-index: 1Spec
            content: ''
            width: 1440px
            height: 51px
            background: repeat url(../../images/hoody-wallpaper-icons.png)
            background-size: 800px
            position: absolute
            bottom: 61px
            right: -244px
        &::before
            z-index: 1
            content: ''
            width: 1440px
            height: 50px
            background: repeat url(../../images/hoody-wallpaper-icons-reverse.png)
            background-size: 800px
            position: absolute
            top: 236px
            right: -244px

// BLOCK: "SALES PITCH"
.container-sales-pitch
    padding-top: calc(#{space.$desktop-space-lv-5} + #{space.$desktop-space-lv-5})
    padding-bottom: space.$desktop-space-lv-5
    text-align: center
    color: #fff
    p:not(:last-child)
        margin-bottom: space.$desktop-space-lv-1

// SECTION: "GALLERY"
.container-gallery
    padding-top: space.$desktop-space-lv-5
    padding-bottom: space.$desktop-space-lv-5
    h2.subheading
        font-size: calc(1rem * #{$desktop-body-text-scale-ratio} * #{$desktop-body-text-scale-ratio})
    div.subheading-container
        margin-top: space.$desktop-space-lv-5
        margin-bottom: space.$desktop-space-lv-3
        display: block
        text-align: center
    .line
        display: inline-block
        height: 5.2px
        width: 202.067px
        border-radius: 25px
        background-color: #000
    span.line.line-top
        margin-bottom: 8.4px
    span.line.line-bottom
        margin-top: 8.4px
    .container-frame
        border-style: solid
        border-width: 14px
        border-color: $primary-color-50
        position: relative
        display: block
        margin-left: auto
        margin-right: auto
        width: 535px
        max-width: 600px
        &::after
            content: ''
            position: absolute
            height: 100%
            width: 100%
            top: 0
            left: 0
            right: 0
            bottom: 0
            background: $primary-color-50
            filter: opacity(30%)
            transition: 0.2s
        &:hover
            &::after
                filter: opacity(0)
        picture,
        picture img
            vertical-align: bottom
            width: 100%
            height: 100%
.container-gallery .container-frame:nth-child(2)
    margin-bottom: space.$desktop-space-lv-2
// SECTION: "INFORMATION"
.container-information
    padding-top: calc( #{space.$desktop-space-lv-5} + #{space.$desktop-space-lv-3} )
    padding-bottom: space.$desktop-space-lv-4
    color: #fff
    h2.subheading
        font-size: calc(1rem * #{$desktop-body-text-scale-ratio} * #{$desktop-body-text-scale-ratio})
    div.subheading-container
        margin-top: space.$desktop-space-lv-4
        margin-bottom: space.$desktop-space-lv-3
        display: block
        text-align: center
    .line
        display: inline-block
        height: 5.2px
        width: 301.8px
        border-radius: 25px
        background-color: #fff
    span.line.line-top
        margin-bottom: 8.4px
    span.line.line-bottom
        margin-top: 8.4px
    .album-cover
        width: 320px
        height: 250px
        border: 4px #fff solid
        margin-bottom: space.$desktop-space-lv-2
    .info-box
        position: relative
        display: flex
        justify-content: space-between
        width: 720px
        margin-left: auto
        margin-right: auto
    .info-box__text
        position: relative
        display: block
        width: 320px
        margin-left: auto
        margin-right: auto
        margin-bottom: space.$desktop-space-lv-3
        p
            margin-bottom: space.$desktop-space-lv-1
    a.itchio-btn img
        position: relative
        display: block
        margin-bottom: space.$desktop-space-lv-3
        margin-left: auto
        margin-right: auto
    a.download-btn
        position: relative
        display: block
        margin-bottom: space.$desktop-space-lv-1
        margin-left: auto
        margin-right: auto
    a.download-btn + p
        text-align: center
        margin-bottom: space.$desktop-space-lv-1
    .support-os
        position: relative
        display: block
        text-align: center
        margin-bottom: space.$desktop-space-lv-3
    span.icon
        margin-right: space.$desktop-space-lv-half
    .text
        text-align: center
        margin-bottom: space.$desktop-space-lv-1
    .share-btn-container
        position: relative
        display: block
        margin-left: auto
        margin-right: auto
        text-align: center
    a.twitter-btn img
        position: relative
        margin-right: space.$desktop-space-lv-1


// # TABLET VIEW
@media screen and (max-width: 1024px)
    main
        // SECTION: "SYNOPSIS"
        .container-synopsis
            height: auto
            .intro-img
                display: block
                top: 0
            .intro-img img
                width: 100%
            .text-frame
                @include space.tablet-padding-preset
                bottom: calc(70px + 37.9px + (#{space.$desktop-space-lv-1} * 2))
                position: relative
                width: auto
                top: auto
        // SECTION: "CHARACTERS"
        .container-characters
            .character-title,
            .character-text
                @include space.tablet-margin-preset
            .character-text,
            .character-image
                display: block
                width: auto
            // * Stylise: display like column
            .formatter-reverse
                display: block
            .formatter
                display: block
        // * Stylise: Center character image
        .character-image
            position: relative
            display: block
        // * Stylise: Backhround image Add-on for TABLET VIEW
        // NATSU
        div.characters.natsu
            margin-top: space.$mobile-space-lv-5
            .character-title
                &::after
                    content: ''
                    width: 1016px
                    height: 43px
                    background: repeat url(../../images/natsu-wallpaper-icons.png)
                    background-size: 700px
                    position: absolute
                    left: calc(197.1px + #{space.$mobile-space-lv-1})
                    top: 32px
            .character-image img
                z-index: 999
            .character-image
                &::after
                    z-index: 1
                    content: ''
                    width: 1016px
                    height: 47px
                    background: repeat url(../../images/natsu-wallpaper-icons.png)
                    background-size: 750px
                    position: absolute
                    bottom: 160px
                    left: 0
        // GROUCHY
        div.characters.grouchy
            .character-title
                &::after
                    content: ''
                    width: 1016px
                    height: 43px
                    background: repeat url(../../images/grouchy-wallpaper-icons-reverse.png)
                    background-size: 700px
                    position: absolute
                    left: calc(197.1px + #{space.$mobile-space-lv-1})
                    top: 53px
            .character-text
                display: block
                width: auto
            .character-image
                display: block
                float: none
            .character-image img
                z-index: 999
            .character-image
                &::after
                    z-index: 1
                    content: ''
                    width: 1016px
                    height: 45px
                    background: repeat url(../../images/grouchy-wallpaper-icons.png)
                    background-size: 750px
                    position: absolute
                    bottom: 66px
                    left: -16px
                &::before
                    z-index: 1
                    content: ''
                    width: 1016px
                    height: 45px
                    background: repeat url(../../images/grouchy-wallpaper-icons-reverse.png)
                    background-size: 750px
                    position: absolute
                    top: 119px
                    left: 0
        // GLASSES
        div.characters.glasses
            .character-title
                &::before
                    content: ''
                    width: 1060px
                    height: 45px
                    background: repeat url(../../images/glasses-wallpaper-icons.png)
                    background-size: 750px
                    position: absolute
                    top: 50px
                    right: -92px
            .character-image img
                z-index: 999
            .character-image
                &::after
                    z-index: 1
                    content: ''
                    width: 1060px
                    height: 45px
                    background: repeat url(../../images/glasses-wallpaper-icons.png)
                    background-size: 750px
                    position: absolute
                    bottom: 55px
                    left: -16px
                &::before
                    z-index: 1
                    content: ''
                    width: 1060px
                    height: 45px
                    background: repeat url(../../images/glasses-wallpaper-icons-reverse.png)
                    background-size: 750px
                    position: absolute
                    left: 0
                    top: 232px
        // PRINCE
        div.characters.prince
            .character-title
                &::after
                    content: ''
                    width: 1016px
                    height: 44px
                    background: repeat url(../../images/prince-wallpaper-icons.png)
                    background-size: 700px
                    position: absolute
                    left: calc(197.1px + #{space.$mobile-space-lv-1})
                    top: 49px
            .character-image img
                z-index: 999
            .character-image
                &::after
                    z-index: 1
                    content: ''
                    width: 1016px
                    height: 48px
                    background: repeat url(../../images/prince-wallpaper-icons.png)
                    background-size: 750px
                    position: absolute
                    bottom: 49px
                    left: -16px
                &::before
                    z-index: 1
                    content: ''
                    width: 1016px
                    height: 48px
                    background: repeat url(../../images/prince-wallpaper-icons-reverse.png)
                    background-size: 750px
                    position: absolute
                    left: 0
                    top: 124px
        // HOODY
        div.characters.hoody
            padding-bottom: space.$mobile-space-lv-2
            .character-title
                &::before
                    content: ''
                    width: 1016px
                    height: 51px
                    background: repeat url(../../images/hoody-wallpaper-icons.png)
                    background-size: 800px
                    position: absolute
                    // * does not appear for mobile view - RE-CONFIGURE
                    top: 59px
                    right: 0
            .character-image img
                z-index: 999
            .character-image
                &::after
                    z-index: 1Spec
                    content: ''
                    width: 1028px
                    height: 51px
                    background: repeat url(../../images/hoody-wallpaper-icons.png)
                    background-size: 800px
                    position: absolute
                    bottom: 61px
                    left: 0
                &::before
                    z-index: 1
                    content: ''
                    width: 1028px
                    height: 50px
                    background: repeat url(../../images/hoody-wallpaper-icons-reverse.png)
                    background-size: 800px
                    position: absolute
                    top: 236px
                    lefT: 0
        // SECTION: "SALES-PITCH"
        .container-sales-pitch
            @include space.tablet-padding-preset
        // SECTION: "GALLERY"
        .container-gallery
            @include space.tablet-padding-preset
        // SECTION: "INFORMATION"
        .container-information
            @include space.tablet-padding-preset
            .album-cover
                display: block
                margin-left: auto
                margin-right: auto
            .info-box__text
                width: 240px


// # MOBILE VIEW
@media screen and (max-width: 600px)
    main
        position: relative
        display: block
        // SECTION: "SYNOPSIS"
        .container-synopsis
            // height: calc(775.4px - 93px)
            // auto height = 775.4px
            // minus excess height by practical measurement = 93px
            // * EDIT
            // new excesss 48
            // total height - excess
            // 655.4 - 48
            // * NOT SURE IF NECESSARY - LATER TEST ON DEVICE
            // height: 607.4px
            padding-bottom: space.$mobile-space-lv-2
            .intro-img
                top: 0
            picture.intro-img,
            picture.intro-img img
                width: 100%
                height: 363px
            .text-frame
                padding-top: space.$mobile-space-lv-1
                padding-bottom: space.$mobile-space-lv-1
                padding-left: 16px
                padding-right:16px
                // * EDIT
                // * For Stylise Effect
                bottom: calc(20px + 37.9px + (#{space.$mobile-space-lv-1} * 2))
            .line
                width: 120px
                height: 2.6px
                border-radius: 25px
            span.line.line-top
                margin-bottom: 8.4px
            span.line.line-bottom
                margin-top: 8.4px
            p
                margin-top: space.$mobile-space-lv-1
        // SECTION: "CHARACTERS"
        .container-characters
            padding-bottom: space.$mobile-space-lv-4
            .subheading-container
                margin-top: space.$mobile-space-lv-4
                margin-bottom: space.$mobile-space-lv-5
            .character-title h3.bold
                padding-bottom: space.$mobile-space-lv-half
            .line
                width: 179px
                height: 2.6px
                border-radius: 25px
            span.line.line-top
                margin-bottom: 8.4px
            span.line.line-bottom
                margin-top: 8.4px
            .character-text
                padding: 0
                margin: 0
        // * Stylise: character heading block dimensions
        div.characters.natsu,
        div.characters.grouchy,
        div.characters.glasses,
        div.characters.prince,
        div.characters.hoody
            @include space.mobile-margin-preset
            position: relative
            display: block
            .character-title
                display: block
                width: 197.1px
            .character-image img
                position: relative
                display: block
                margin-left: auto
                margin-right: auto
                clear: both
            .character-text
                margin-top: space.$mobile-space-lv-1
        div.characters.natsu,
        div.characters.grouchy,
        div.characters.prince
            .character-title
                padding: space.$mobile-space-lv-1 space.$mobile-space-lv-2 space.$mobile-space-lv-1 space.$mobile-space-lv-half
                h3:nth-child(n+2)
                    padding-left: space.$mobile-space-lv-1
        div.characters.glasses,
        div.characters.hoody
            .character-title
                float: right
                clear: right
                display: block
                text-align: right
                padding: space.$mobile-space-lv-1 space.$mobile-space-lv-2 space.$mobile-space-lv-1 space.$mobile-space-lv-half
                h3:nth-last-child(-n+2)
                    padding-right: space.$mobile-space-lv-1
        // * Stylise: text rotation angle
        div.characters.natsu,
        div.characters.glasses,
        div.characters.hoody
            .character-title
                h3
                    transform: rotate(-1.8deg)
        div.characters.grouchy,
        div.characters.prince
            .character-title
                h3
                    transform: rotate(1.8deg)
        div.characters.grouchy,
        div.characters.glasses,
        div.characters.prince
            .character-text
                margin-bottom: space.$mobile-space-lv-4
        // * Stylise: character image margin / padding
        div.characters.natsu,
        div.characters.grouchy,
        div.characters.glasses,
        div.characters.prince
            .character-image img
                padding-top: space.$mobile-space-lv-2
                padding-bottom: space.$mobile-space-lv-2
        div.characters.hoody
            .character-image img
                padding-top: space.$mobile-space-lv-2
        // NATSU
        div.characters.natsu
            margin-top: space.$mobile-space-lv-2
            // todo: fix display - give space for text; clear both ends
            .character-title
                &::after
                    content: ''
                    width: 1016px
                    height: 65px
                    background: no-repeat url(../../images/natsu-wallpaper-icons.png)
                    background-size: 700px
                    position: absolute
                    left: calc(197.1px + #{space.$mobile-space-lv-1})
                    top: 32px
            .character-image img
                z-index: 999
            .character-image
                &::after
                    z-index: 1
                    content: ''
                    width: 1016px
                    height: 65px
                    background: no-repeat url(../../images/natsu-wallpaper-icons.png)
                    background-size: 750px
                    position: absolute
                    bottom: 160px
                    left: 0
        div.characters.natsu .character-text
            position: relative !important
            display: block
            margin-left: auto
            margin-right: auto
            width: 300px !important
        // GROUCHY
        div.characters.grouchy
            .character-title
                &::after
                    content: ''
                    width: 1016px
                    height: 64px
                    background: no-repeat url(../../images/grouchy-wallpaper-icons-reverse.png)
                    background-size: 700px
                    position: absolute
                    left: calc(197.1px + #{space.$mobile-space-lv-1})
                    top: 32px
            .character-image img
                z-index: 999
            .character-image
                &::after
                    z-index: 1
                    content: ''
                    width: 1016px
                    height: 65px
                    background: no-repeat url(../../images/grouchy-wallpaper-icons.png)
                    background-size: 750px
                    position: absolute
                    // bottom: 255px
                    // bottom: 221px
                    left: -16px
                &::before
                    z-index: 1
                    content: ''
                    width: 1016px
                    height: 65px
                    background: no-repeat url(../../images/grouchy-wallpaper-icons-reverse.png)
                    background-size: 750px
                    position: absolute
                    left: 0
        // GLASSES
        div.characters.glasses
            .character-title
                &::before
                    content: ''
                    width: 1060px
                    height: 64px
                    background: no-repeat url(../../images/glasses-wallpaper-icons.png)
                    background-size: 750px
                    position: absolute
                    top: 32px
                    right: -92px
            .character-image img
                z-index: 999
            .character-image
                &::after
                    z-index: 1
                    content: ''
                    width: 1060px
                    height: 64px
                    background: no-repeat url(../../images/glasses-wallpaper-icons.png)
                    background-size: 750px
                    position: absolute
                    bottom: 67px
                    left: -16px
                &::before
                    z-index: 1
                    content: ''
                    width: 1060px
                    height: 64px
                    background: no-repeat url(../../images/glasses-wallpaper-icons-reverse.png)
                    background-size: 750px
                    position: absolute
                    top: 150px
        // PRINCE
        div.characters.prince
            .character-title
                &::after
                    content: ''
                    width: 1016px
                    height: 64px
                    background: no-repeat url(../../images/prince-wallpaper-icons.png)
                    background-size: 700px
                    position: absolute
                    left: calc(197.1px + #{space.$mobile-space-lv-1})
                    top: 32px
            .character-image img
                z-index: 999
            .character-image
                &::after
                    z-index: 1
                    content: ''
                    width: 1016px
                    height: 65px
                    background: no-repeat url(../../images/prince-wallpaper-icons.png)
                    background-size: 750px
                    position: absolute
                    bottom: 81px
                &::before
                    z-index: 1
                    content: ''
                    width: 1016px
                    height: 65px
                    background: no-repeat url(../../images/prince-wallpaper-icons-reverse.png)
                    background-size: 750px
                    position: absolute
                    left: 0
        // HOODY
        div.characters.hoody
            padding-bottom: space.$mobile-space-lv-2
            .character-title
                &::before
                    content: ''
                    width: 1016px
                    height: 64px
                    background: no-repeat url(../../images/hoody-wallpaper-icons.png)
                    background-size: 800px
                    position: absolute
                    right: 0
            .character-image
                position: relative
                display: block
                text-align: center
            .character-image img
                z-index: 999
                margin-left: auto
                margin-right: auto
            .character-image
                &::after
                    z-index: 1
                    content: ''
                    width: 1028px
                    height: 64px
                    background: no-repeat url(../../images/hoody-wallpaper-icons.png)
                    background-size: 800px
                    position: absolute
                    bottom: 50px
                &::before
                    z-index: 1
                    content: ''
                    width: 1028px
                    height: 64px
                    background: no-repeat url(../../images/hoody-wallpaper-icons-reverse.png)
                    background-size: 800px
                    position: absolute
                    top: 217px
        .natsu img
            width: 239.5px
        .grouchy img
            width: 210px
        .glasses img
            width: 206px
        .prince img
            width: 208px
        .hoody img
            width: 214px
            transform: translateX(-10%)
        .container-sales-pitch
            @include space.mobile-padding-preset
            padding-top: space.$mobile-space-lv-5
            padding-bottom: space.$mobile-space-lv-4
            p:not(:last-child)
                margin-bottom: space.$mobile-space-lv-1
        // SECTION: "GALLERY"
        .container-gallery
            padding-bottom: space.$mobile-space-lv-4
            h2.subheading
                font-size: calc(1rem * #{$desktop-body-text-scale-ratio} * #{$desktop-body-text-scale-ratio})
            div.subheading-container
                // margin-top: space.$mobile-space-lv-1
                margin-top: 0
                margin-bottom: space.$mobile-space-lv-2
                display: block
                text-align: center
            .line
                display: inline-block
                height: 2.6px
                width: 133px
                border-radius: 25px
                background-color: #000
            span.line.line-top
                margin-bottom: 8.4px
            span.line.line-bottom
                margin-top: 8.4px
            .container-frame
                @include space.mobile-margin-preset
                position: relative
                display: block
                width: 300px
                margin-left: auto
                margin-right: auto
                border-width: 14px
            picture,
            picture img
                vertical-align: bottom
                width: 100%
                height: 100%
        .container-gallery .container-frame:nth-child(2)
            margin-bottom: space.$mobile-space-lv-2
        // SECTION: "INFORMATION"
        .container-information
            @include space.mobile-padding-preset
            padding-top: space.$mobile-space-lv-2
            color: #fff
            padding-bottom: space.$mobile-space-lv-4
            h2.subheading
                font-size: calc(1rem * #{$desktop-body-text-scale-ratio} * #{$desktop-body-text-scale-ratio})
            div.subheading-container
                margin-top: space.$mobile-space-lv-4
                margin-bottom: space.$mobile-space-lv-2
                display: block
                text-align: center
            .line
                display: inline-block
                height: 2.6px
                width: 199px
                border-radius: 25px
                background-color: #fff
            span.line.line-top
                margin-bottom: 8.4px
            span.line.line-bottom
                margin-top: 8.4px
            .info-box
                display: flex
                flex-direction: column
                width: auto
            .album-cover
                width: 287.6px
                height: 215.7px
                border: 2px #fff solid
                margin-bottom: space.$mobile-space-lv-2
            .info-box__text
                margin-bottom: space.$mobile-space-lv-3
                p
                    margin-bottom: space.$mobile-space-lv-1
            a.itchio-btn img
                position: relative
                display: block
                margin-bottom: space.$mobile-space-lv-3
                margin-left: auto
                margin-right: auto
            a.download-btn
                position: relative
                display: block
                margin-bottom: space.$mobile-space-lv-1
                margin-left: auto
                margin-right: auto
            a.download-btn + p
                text-align: center
                margin-bottom: space.$mobile-space-lv-1
            .support-os
                position: relative
                display: block
                text-align: center
                margin-bottom: space.$mobile-space-lv-3
            span.icon
                margin-right: space.$mobile-space-lv-half
            .text
                text-align: center
                margin-bottom: space.$mobile-space-lv-1
            .share-btn-container
                position: relative
                display: block
                margin-left: auto
                margin-right: auto
                text-align: center
            a.twitter-btn img
                position: relative
                margin-right: space.$mobile-space-lv-1

// * Specificity: "characters' wallpaper" hotfix
@media screen and (max-width: 380px)
    main
        .container-characters div.characters.grouchy .character-text,
        .container-characters div.characters.prince .character-text,
        .container-characters div.characters.glasses .character-text,
        .container-characters div.characters.hoody .character-text
            height: auto
        // NATSU
        div.characters.grouchy
            .character-image
                img
                    width: 337px
        // GROUCHY
        div.characters.grouchy
            .character-image
                img
                    width: 210px
                &::after
                    bottom: 90px
                &::before
                    top: 111px
        // GLASSES
        div.characters.glasses
            .character-image
                img
                    width: 206px
                &::after
                    bottom: 76px
                &::before
                    top: 114px
        // PRINCE
        div.characters.prince
            .character-image
                img
                    width: 206px
                &::after
                    bottom: 84px
                &::before
                    top: 113px
        // HOODY
        div.characters.hoody
            .character-image
                img
                    width: 214px
                &::after
                    top: 191px
                &::before
                    top: 291px

// * Specificity: "info-box's positioning" hotfix
@media screen and (max-width: 760px)
    main
        .info-box
            display: flex
            flex-direction: column
            width: auto