@use '../base/space' as *
@use '../base/color' as color

// todo
// center fig image and text
// create frame drop down
// hidden
// add script (event listener)
// create background for READ LESS when opened

.gallery
    display: none

.gallery.open
    position: relative
    display: block
    width: 100%
    height: auto
    height: 333px // total fig image + fig caption
    margin-top: $mobile-space-lv-1

.gallery__content
    width: 100%
    height: 100%
    background: #FFFFFF

.gallery__image
    position: relative
    width: 100%
    height: 284px
    display: flex
    justify-content: center
    align-items: center
    background: color.$text-color-90

.gallery__image img
    position: relative
    max-height: 284px
    max-width: 100vw
    width: auto
    display: flex
    object-fit: contain
    justify-content: center
    align-items: center

.gallery__text
    text-align: center
    margin-top: $mobile-space-lv-1

div.gallery__image
    span.prev-btn-bg
        cursor: pointer
        position: absolute
        width: 32px
        height: 32px
        border-radius: 50%
        margin-left: $mobile-space-lv-1
        display: inline-block
        left: 0
        background-color: rgba(204, 204, 204, 0.2)
        &:hover
            background-color: rgba(204, 204, 204, 0.5)
    a.prev
        cursor: pointer
        position: absolute
        width: 13px
        height: 13px
        margin-left: $mobile-space-lv-1
        border: solid color.$text-color-20
        border-width: 0 2px 2px 0
        display: inline-block
        transform: rotate(135deg)
        z-index: 99
        left: -6px
        top: 10px
    span.next-btn-bg
        cursor: pointer
        position: absolute
        width: 32px
        height: 32px
        border-radius: 50%
        margin-right: $mobile-space-lv-1
        border-width: 0 3px 3px 0
        display: inline-block
        background-color: rgba(204, 204, 204, 0.2)
        right: 0
        &:hover
            background-color: rgba(204, 204, 204, 0.5)
    a.next
        cursor: pointer
        position: absolute
        width: 13px
        height: 13px
        margin-right: $mobile-space-lv-1
        border: solid color.$text-color-20
        border-width: 0 2px 2px 0
        display: inline-block
        transform: rotate(-45deg)
        z-index: 99
        right: -6px
        top: 10px
.container-dots
    position: absolute
    width: 100%
    display: flex
    bottom: 0
    justify-content: center
    z-index: 99

span.dot:first-child
    margin-right: $mobile-space-lv-1

span.dot
    display: inline-block
    margin-bottom: $mobile-space-lv-1
    width: 12px
    height: 12px
    border-radius: 50%
    background-color: rgba(128, 128, 128, 0.3)
    // background-color: rgba(204, 204, 204, 0.5) //$text-color-20

// ! Check if this works >> '.active'
span.dot:hover,
span.dot.active
    background-color: rgba(128, 128, 128, 0.8) //$text-color-90
    // background-color: rgba(204, 204, 204, 1)
