@use '../base/space' as *
@use '../base/color' as color

// todo
// center fig image and text
// create frame drop down
// hidden
// add script (event listener)
// create background for READ LESS when opened

.gallery
    display: none

.gallery.open
    position: relative
    display: block
    width: 100%
    height: auto
    height: 333px // total fig image + fig caption
    margin-top: $mobile-space-lv-1

.gallery__content
    width: 100%
    height: 100%
    background: #FFFFFF

.gallery__image
    position: relative
    width: 100%
    height: 284px
    display: flex
    justify-content: center
    align-items: center
    background: color.$text-color-90

.gallery__image img
    position: relative
    max-height: 284px
    display: flex
    justify-content: center
    align-items: center

.gallery__text
    text-align: center
    margin-top: $mobile-space-lv-1

div.gallery__image
    a.prev
        cursor: pointer
        position: absolute
        width: 13px
        height: 13px
        margin-left: $mobile-space-lv-1
        border: solid color.$text-color-20
        border-width: 0 3px 3px 0
        display: inline-block
        transform: rotate(135deg)
        z-index: 99
        left: 0
    a.next
        cursor: pointer
        position: absolute
        width: 13px
        height: 13px
        margin-right: $mobile-space-lv-1
        border: solid color.$text-color-20
        border-width: 0 3px 3px 0
        display: inline-block
        transform: rotate(-45deg)
        z-index: 99
        right: 0

.container-dots
    position: absolute
    width: 100%
    display: flex
    bottom: 0
    justify-content: center
    z-index: 99

span.dot:first-child
    margin-right: $mobile-space-lv-1

span.dot
    display: inline-block
    margin-bottom: $mobile-space-lv-1
    width: 12px
    height: 12px
    border-radius: 50%
    background-color: rgba(128, 128, 128, 0.5)


// ! Check if this works >> '.active'
span.dot:hover,
span.dot.active
    background-color: rgba(128, 128, 128, 1)
    background-color: blue
