@use '../base/space' as *
@use '../base/color' as color

// todo
// fix for tablet (and mobile) media query
    // reset stuff
// add 960pxmedia query
// tablet: create timeline component
// desktop: create timeline component

main
    margin-bottom: $desktop-space-lv-4
    h2
        position: relative
        margin-top: $desktop-space-lv-4
        margin-bottom: $desktop-space-lv-2
        text-align: center
        // ! WIP #2 timeline component for Desktop
        // ? Redo blue print ???
    .timeline
        position: relative
        width: 711.2px
        max-width: 711.2px
        // ? max-width: 960px
        margin: 0 auto
        height: auto
        display: flex
        // flex-wrap: wrap
        // justify-content: center
        align-items: center
        flex-direction: column
        // ! center indicator
        // &::before
        //     content: ''
        //     position: absolute
        //     height: 100%
        //     width: 4px
        //     background: blue
        //     left: 50%
        //     transform: translateX(-50%)
        //     z-index: 99
        .timeline-wrap
            position: relative
            display: flex
            // ? (constraints) width: 318.6px
            width: auto
            // * Hotfix bottom-padding for unique div #6 VV BELOW VV
        .timeline-wrap.plus-bot-padding
            padding-bottom: $desktop-space-lv-2
        .timeline-wrap:nth-child(odd)
            // display: flex
            // padding-right: calc((#{$desktop-space-lv-1} + 16px) * -1) // * $desktop-space-lv-1 + extra between line component and timeline-item
            // * sml circle distance 27 + 10
            // * big circle distance 27 + 13
            padding-right: calc(#{$desktop-space-lv-1} + 13px) // * $desktop-space-lv-1 + extra between line component and timeline-item
            border-right: 4px solid #1A1A1A
            transform: translateX(-179px) // ! See guidelines
        .timeline-wrap:nth-child(even)
            padding-left: calc(#{$desktop-space-lv-1} + 13px) // * $desktop-space-lv-1 + extra between line component and timeline-item
            border-left: 4px solid #1A1A1A
            transform: translateX(180px) // ! See guidelines
        div.timeline-wrap.end.box-right
            border-right: 4px solid transparent !important
        .timeline-item
            position: relative
            h3.date
                position: relative
                top: calc(#{$desktop-space-lv-half} * -1)
                padding: 12.75px 25.5px
                width: 112.8px
                color: #FFFFFF
                background: #000000
            .text-box
                margin-top: $desktop-space-lv-half
                width: 318.6px
        .box-right h3.date
            left: calc(246px - 44px)
            // left: calc(246px - (#{$desktop-space-lv-half} + 13px))
        .timeline-dot
            position: absolute
            width: 20px
            height: 20px
            background-color: color.$text-color-90
            top: 0
            // left: 0 // !! Redundant
            // top: 3px
            // left: -16px
            border-radius: 50%
            z-index: 22
        .timeline-dot.start
            width: 24px
            height: 24px
            background: #FFFFFF
            border: 4px solid color.$text-color-90
            // ! WIP >>
        .box-right .timeline-dot
            left: 350px
        .box-left .timeline-dot
            left: -52px
        .timeline-bg-dot
            position: absolute
            // top: -1.5px
            // left: -21px
            width: calc(20px + 9px)
            height: calc(20px + 9px)
            background: #FFFFFF
            border-radius: 50%
            z-index: 11
        .box-right .timeline-bg-dot
            top: -4px
            left: 346px
        .box-left .timeline-bg-dot
            top: -4px
            left: -57px
            // ! <<
        .box-right .timeline-dot.start
            left: 348px
        .timeline-bg-dot.start,
        .timeline-bg-dot.end
            background: rgba(0,0,0,0)
        // .box-right .timeline-bg-dot.start,
        // .box-right .timeline-bg-dot.end
        //     background: rgba(0,0,0,0)
        .timeline-dot.end
            // top: 0px
            // left: -18.5px
            width: 24px
            height: 24px
        .box-right .timeline-dot.end
            // width: 24px
            // height: 24px
            left: 348px

    .timeline-bg-dot.end.special
        &::before
            position: absolute
            content: ''
            top: -47.5px
            left: 13px
            width: 4px
            height: calc(#{$desktop-space-lv-half} + #{$desktop-space-lv-2})
            background: color.$text-color-90
            z-index: -99
        .timeline-dot
            background: color.$text-color-90
            border-radius: 50%
    div.timeline-wrap.open // * Toggle Script
        padding-top: calc(#{$desktop-space-lv-half} + #{$desktop-space-lv-2})

@media screen and (max-width: 1024px)
    // * Reset from Desktop Display
    main .timeline .timeline-wrap:nth-child(odd)
        padding-right: 0
        border-bottom: 0
        border-top: 0
        border-right: 0
        transform: none
        // transform: translateX(0)
    main .timeline .timeline-wrap:nth-child(even)
        padding-left: 0
        padding-right: 0
        border-bottom: 0
        border-top: 0
        transform: none
        // transform: translateX(0)
    main
        .timeline
            .box-right h3.date
                left: 0
            .box-right .timeline-dot
                left: 0
            .box-left .timeline-dot
                left: 0
            .box-right .timeline-bg-dot
                top: 0
                left: 0
            .box-left .timeline-bg-dot
                top: 0
                left: 0
            .box-right .timeline-dot.start
                left: 0
            .box-right .timeline-dot.end
                left: 0
    main
        .timeline
            max-width: none
            .text-box
                width: auto !important
    main
        display: flex
        justify-content: center
        flex-direction: column
        position: relative
        width: 100%
        height: auto
        // ? add or not: margin-bottom: $desktop-space-lv-4
        .timeline
            width: 100%
            display: block // !! Reset (?)
            .timeline-wrap
                @include tablet-margin-preset
                border-left: 4px solid #1A1A1A
                // position: relative // !! Already added above
                // padding-left: 25px // ! Should hanges on media query
                // margin-left: 9px // ! Should hanges on media query
                // * Hotfix bottom-padding for unique div #6 VV BELOW VV
            // .timeline-wrap.plus-bot-padding // !! Already added above
            //     padding-bottom: $desktop-space-lv-2
            // ! WIP >>
            .timeline-item
                padding-left: calc(#{$desktop-space-lv-1} + 16px) !important // * $desktop-space-lv-1 + extra between line component and timeline-item
                // position: relative
                // border-left: 4px solid color.$text-color-90
            // .timeline-wrap:last-child
                // border-left: 4px solid transparent
            .timeline-dot
                top: 3px !important
                left: -13px !important
                // position: absolute // !! Already added above
                // width: 20px
                // height: 20px
                // z-index: 22
            .timeline-bg-dot
                // position: absolute // !! Already added above
                top: -1.5px !important
                left: -18px !important
                // width: calc(20px + 9px)
                // height: calc(20px + 9px)
                // background: #FFFFFF
                // border-radius: 50%
                // z-index: 11
            .timeline-dot.start
                top: 0px !important
                left: -14.5px !important
                // width: 24px // !! Already added above
                // height: 24px
                // background: #FFFFFF
                // border: 4px solid color.$text-color-90
            // .timeline-bg-dot.start // !! Already added above
            //     background: rgba(0,0,0,0)
            .timeline-dot.end
                top: 0px !important
                left: -14.5px !important
                // width: 24px  // !! Already added above
                // height: 24px
            .timeline-bg-dot.end
                background: rgba(0,0,0,0)
            .timeline-bg-dot.end.special
                &::before
                    // position: absolute  // !! Already added above
                    // content: ''
                    top: -49.5px !important
                    left: 14px !important
                    // width: 4px  // !! Already added above
                    // height: calc(#{$desktop-space-lv-half} + #{$desktop-space-lv-2})
                    // background: color.$text-color-90
                    // border-radius: 50%
                    // z-index: -99
            // h3 // !! Already added above
                // position: relative
                // top: calc(#{$desktop-space-lv-half} * -1)
                // padding: 12.75px 25.5px
                // width: 112.8px
                // color: #FFFFFF
                // background: #000000
            // .text-box // !! Already added above
            //     margin-top: $desktop-space-lv-half
        // div.timeline-wrap.open
        //     padding-top: calc(#{$desktop-space-lv-half} + #{$desktop-space-lv-2})


@media screen and (max-width: 600px)
    main
        // display: flex
        // justify-content: center
        // flex-direction: column
        // position: relative
        // width: 100%
        // height: auto
        // ? margin-bottom: $mobile-space-lv-4
        h2
            margin-top: $mobile-space-lv-4
            margin-bottom: $mobile-space-lv-2
        .timeline
            width: 100%
            .timeline-wrap
                @include mobile-margin-preset
                // background: #ccc
                // padding-left: 25px // ! Should hanges on media query
                // margin-left: 9px // ! Should hanges on media query
                border-left: 2px solid #1A1A1A !important
                // * Hotfix bottom-padding for unique div #6 VV BELOW VV
            .timeline-wrap.plus-bot-padding
                padding-bottom: $mobile-space-lv-2
            .timeline-item
                padding-left: 25px // * + plus $mobile-space-lv- >> Check Ref
            .timeline-wrap:last-child
                border-left: 2px solid transparent
            .timeline-item:last-child
                border-left: 2px solid transparent
            .timeline-dot
                position: absolute
                top: 3px
                left: -9px !important
                width: 12px
                height: 12px
            .timeline-bg-dot
                position: absolute
                top: 1px !important
                left: -12.5px !important
                width: calc(12px + 4.5px)
                height: calc(12px + 4.5px)
                background: #FFFFFF
                border-radius: 50%
                z-index: 11
            .timeline-dot.start
                top: 0px
                left: -11px !important
                width: 16px
                height: 16px
                background: #FFFFFF
                border: 2px solid color.$text-color-90
            .timeline-bg-dot.start
                background: rgba(0,0,0,0)
            .timeline-dot.end
                top: -1px !important
                left: -11px !important
                width: 16px
                height: 16px
            .timeline-bg-dot.end
                background: rgba(0,0,0,0)
            .timeline-bg-dot.end.special
                &::before
                    position: absolute
                    content: ''
                    top: -36px !important
                    left: 8.5px !important
                    width: 2px
                    height: calc(#{$mobile-space-lv-half} + #{$mobile-space-lv-2})
                    background: color.$text-color-90
                    z-index: -99
            h3
                position: relative
                top: calc(#{$mobile-space-lv-half} * -1) !important
                padding: 7px 14px !important
                width: 56.3px !important
            .text-box
                margin-top: $mobile-space-lv-half !important
        div.timeline-wrap.open
            padding-top: calc(#{$mobile-space-lv-half} + #{$mobile-space-lv-2})
