@use '../base/space' as *
@use '../base/color' as color

// todo
// mobile: fix timeline component
// fix ellipses for "more to read"
// tablet: create timeline component
// desktop: create timeline component
// Create module for CTA "Read More"
// stop timeline line component at the end

main
    h2
        margin-top: $desktop-space-lv-4
        margin-bottom: $desktop-space-lv-2
        text-align: center
    .timeline
        margin: 0 auto

@media screen and (max-width: 600px)
    main
        display: block
        position: relative
        width: 100%
        height: auto
        @include mobile-padding-preset
        h2
            position: relative
            margin-top: $mobile-space-lv-4
            margin-bottom: $mobile-space-lv-2
            text-align: center
            // left: 50%
            // transform: translate(-50%, 0)
        .container-timeline
            position: relative
            display: flex
            justify-content: flex-end
            width: 100%
        .timeline-body
            position: relative
            display: flex
            flex-direction: column
            width: 86.8%
            // width: 250px
            &::before
                content: ''
                position: absolute
                top: 0
                left: calc((#{$mobile-space-lv-2}) * -1)
                width: 2px
                height: 100%
                background-color: color.$text-color-90
                z-index: -99
            .timeline-item.start
                position: relative
                &::after
                    content: ''
                    position: absolute
                    width: 16px
                    height: 16px
                    border-radius: 50%
                    border: 2px solid color.$text-color-90
                    background-color: #FFFFFF
                    left: calc((#{$mobile-space-lv-2} + 9px) * -1)
                    top: 0px
                    z-index: 99
            .timeline-item.end
                position: relative
                &::after
                    content: ''
                    position: absolute
                    width: 16px
                    height: 16px
                    border-radius: 50%
                    border: 2px solid color.$text-color-90
                    background-color: color.$text-color-90
                    left: calc((#{$mobile-space-lv-2} + 9px) * -1)
                    top: 0px
                    z-index: 99
            .timeline-item
                position: relative
                &::after
                    content: ''
                    position: absolute
                    width: 12px
                    height: 12px
                    border-radius: 50%
                    border: 2px solid color.$text-color-90
                    background-color: color.$text-color-90
                    left: calc((#{$mobile-space-lv-2} + 8px) * -1)
                    top: 0px
                    z-index: 99
                .content
                    position: relative
                    // margin-bottom: $mobile-space-lv-2
                .date
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 56.3px
                    height: 24px
                    margin-bottom: $mobile-space-lv-1
                    color: #FFFFFF
                    background-color: color.$text-color-90
                .text-box
                    margin-bottom: $mobile-space-lv-half
                    padding-right: 32px // * Hotfix
                    margin-right: 16px // * Hotfix
                    p span.more
                        display: none
                        // &::before
                        //     content: '...'
                        //     position: absolute
                        //     right: 0
                        //     bottom: 0
                        // &::after
                        //     content: ''
                        //     position: absolute
                        //     right: 0
                        //     width: 1em
                        //     height: 1em
                        //     margin-top: 0.2em
    footer
        clear: both
