/* Color Stylesheet */
/* For Modern Browsers - Created in 2020 */
/*
INCLUDES:
- Color Variation
  - Primary
  - Text color
- UI Component... */

:root {
  --primary-color: red;

  /* Primary Color Variation */
  --primary-color-05: #E5F1FF;
  --primary-color-01: #CCE2FF; /* In use */
  --primary-color-02: #99C6FF;
  --primary-color-03: #66A9FF;
  --primary-color-04: #2987FF; /* In use */
  --primary-color-05: #0070FF;
  --primary-color-06: #005ACC;
  --primary-color-07: #004399; /* In use */
  --primary-color-08: #002D66; /* In semi-use */
  --primary-color-09: #001633;

  /* Text Color */
  --color-text-05: #F2F2F2;
  --color-text-10: #E5E5E5;
  --color-text-20: #CCCCCC;
  --color-text-30: #B2B2B2;
  --color-text-40: #999999; /* In use */
  --color-text-50: #808080; /* In use */
  --color-text-60: #666666;
  --color-text-70: #4D4D4D; /* In use */
  --color-text-80: #1A1A1A; /* In use */
  --color-text-90: #000000;
  /* link color */
  --color-text-link: #004399;
  --color-text-link-active: #002D66;
  /* On UI components */
  --color-module-background: xxx;
  --color-on-menu-hover: xxx;

}

/* Logo Text */
.blue-colored {
  color: var(--primary-color-04);
}

header {
  background-color: #fff;
}

/* HEADER: menu */
.link {
  /* Default text color */
  color: var(--color-text-80);
}

#link-pdf,
a[target="_blank"] {
  color: var(--primary-color-07);
}

a[target="_blank"]:visited {
  color: var(--color-text-link-active);
}

/* ===== STATES */
/* (Reminder) Order: :hover, :focus, :active */
/* Logo */
.logo-link:visited {
  color: var(--color-text-80);
}

/* Menu */
.link:hover {
  background-color: var(--primary-color-01);
  color: var(--color-text-link-active);
}

.link:focus {
  background-color: var(--primary-color-01);
  color: var(--color-text-link-active);
  outline: none;
}

.link:active,
#link-pdf:active {
  /* color: var(--color-text-link-active); */
  color: white;
}

/* When visited, a highlight stays,
which indicates its current page */
a.link.active {
  background-color: var(--color-text-10);
  color: var(--color-text-80);
  cursor: default;
}

.date-text {
  color: var(--color-text-50);
}

.highlight-box {
  background-color: var(--primary-color-01);
}

/* Theme: Bottom borer for aside h2 */
aside h2 {
  border-bottom: 1px solid #B2B2B2;
}

/* Theme: Top / Bottom borer for language container */
.language-container {
  border-top: 1px solid #B2B2B2;
  border-top: 1px solid #B2B2B2;
}

footer p {
  color: var(--color-text-50);
}

/* ===== Media Queries ===== */
/* S - Mobile */
@media all and (min-width: 600px) {
  /* Menu */
  /* States */

  /* Cards */
  .cards {
    /* Height x width */
  }
}

/* M */
@media all and (max-width: 1024px) {}

/* L */
@media all and (min-width: 1024px) {

  header,
  main,
  aside,
  footer {}
}
