/* Color Stylesheet */
/* For Modern Browsers - Created in 2020 */
/*
INCLUDES:
- Color Variation
  - Primary
  - Text color
- UI Component... */

:root {
  --primary-color: red;

  /* Primary Color Variation */
  --primary-color-05: red;
  --primary-color-01: red;
  --primary-color-02: red;
  --primary-color-03: red;
  --primary-color-04: red;
  --primary-color-05: red;
  --primary-color-06: red;
  --primary-color-07: red;
  --primary-color-08: red;
  --primary-color-09: red;
  --primary-color-10: red;

  /* Text Color */
  --color-text-05: #F2F2F2;
  --color-text-10: #E5E5E5;
  --color-text-20: #CCCCCC;
  --color-text-30: #B2B2B2;
  --color-text-40: #999999; /* In use */
  --color-text-50: #808080; /* In use */
  --color-text-60: #666666;
  --color-text-70: #4D4D4D; /* In use */
  --color-text-80: #1A1A1A; /* In use */
  --color-text-90: #000000;
  /* link color */
  --color-text-link: #004399;
  --color-text-link-active: #002D66;
  /* On UI components */
  --color-module-background: xxx;
  --color-on-menu-hover: xxx;

}

.link {
  color: var(--color-text-link);
}

.link:active,
.line-pdf:active {
  color: var(--color-text-link-active);
}

.date-text {
  color: var(--color-text-50);
}

.highlight-box {
  background-color: #CCE2FF; /* primary-color-10 */
}

footer p {
  color: var(--color-text-50);
}
