/* spatial system stylesheet */
/* For Modern Browsers; Support IE?? and above - Created in 2020 */
/* TODO:
- margins
- paddings
 */

:root {
  /* Base Value */
  --space-base-size: 1rem; /* e.g. 16px */
  --space-scale-ratio: 1.2; /* e.g. modular scale */

  /* space scale */
  --space-quarter: calc(1rem / (var(--space-scale-ratio) * var(--space-scale-ratio)));
  --space-half: calc(1rem / var(--space-scale-ratio));
  /* font base / normal: 1em */
  --space-01: calc(1rem * var(--space-scale-ratio));
  --space-02: calc(1rem * var(--space-scale-ratio) * var(--space-scale-ratio));
  --space-03: calc(1rem * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio));
  --space-04: calc(1rem * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio));
  --space-05: calc(1rem * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio));


}

/* General Layout */
h1 {
  margin-top: var(--space-01);
  margin-bottom: var(--space-02);
}

h1.preset-margins {
  margin-left: 16px;
  margin-right: 16px;
}

h2:not(.logo-text) {
  margin-bottom: var(--space-01);
}

p {
  margin-bottom: var(--space-01);
}

p.preset-margins {
  margin-left: 16px;
  margin-right: 16px;
}

main {
  position: absolute;
  margin-top: calc(59px + var(--space-01));
}

header {
  padding-top: var(--space-01);
  padding-bottom: var(--space-01);
  /* TODO:  */
  /* Introduce bottom box shadows */
}

article,
aside,
footer {
  /* margin-bottom: var(--space-02); */
  /* padding-top: var(--space-01); */
  /* padding-bottom: var(--space-01); */

  /* Mobile L / R margins presets (1) */
  /* padding-left: 16px; */
  /* padding-right: 16px; */
}

/* Mobile L / R margins presets (2) */
.logo {
  margin-left: 16px;
}

/* Mobile L / R margins presets (3) */
/* Hamburger Menu - Hacks*/
/* NB: Giving header  L / R margins results to something funny. i.e. this hacks (until further ado!) */
button[aria-controls="menu"] {
  margin-right: 16px;
}

img.figures {
  margin-top: var(--space-01);
  margin-bottom: var(--space-02);
}

/* Navigation bar */

/* UI Components */
/* header {
  margin-top: var(--space-01);
} */

.logo-icon {
  margin-right: var(--space-half);
}

/* Menu hmaburger - Open */
nav button[aria-controls="menu"].open {
  margin-top: var(--space-01);
  margin-bottom: var(--space-01);
}

#menu li a {
  display: block;
  padding-top: var(--space-01);
  padding-bottom: var(--space-01);
  padding-left: var(--space-01);
}

/*
See '_color.css' for following effects
- hover
- active
 */

.highlight-box {
  margin-top: var(--space-01);
  margin-bottom: var(--space-02);
  padding-top: var(--space-01);
  padding-bottom: var(--space-01);
  /* padding-left: var(--space-01); */
}

/*
- hamburger menu
- list items
 */

 .cards {
   display: block;
   margin-top: var(--space-01);
   margin-bottom: var(--space-01);
 }

 .tags {
   margin-top: var(--space-half);
   margin-left: var(--space-half);
   padding: var(--space-half);
 }

 /* S */
 @media all and (max-width: 600px) {
   main,
   /* header,
   p,
   h1,
   h2, */
   /* aside, */
   /* .highlight-box, */
   footer {
     /* margin-left: 16px;
     margin-right: 16px; */
   }

   p,
   .highlight-box,
   .language-wrapper {
     /* width: 288px; */
   }

   /* Cards */
   .cards {
     /* Height x width */

   }

   /* .language-wrapper {
     width: auto;
   } */
 }

 /* M */
 @media all and (max-width: 1024px) {


   .highlight-box {
     /* padding: var(--space-01) 16px; */
   }
 }

/* L */
 @media all and (min-width: 1024px) {
   header,
   main,
   aside,
   footer {
     width: 960px;
   }

 }
