/* MAIN */
.index {
  display: block;
  margin-bottom: var(--space-01);
}

.alphabet li {
  position: relative;
  display: inline-block;
  padding-left: var(--space-half);
}

.alphabet li a {
  color: var(--primary-color-70);
  text-transform: uppercase;
  text-decoration: underline;
}

.alphabet li a:hover {
  text-decoration: none;
}

.alphabet li a:focus {
  outline: 2px solid var(--primary-color-40);
}

.alphabet li a:active {
  color: var(--primary-color-80);
}

.alphabet li a.disabled {
  color: var(--text-color-60);
  text-decoration: none;
  cursor: default;
}

.title-block {
  border-top: 1px solid var(--text-color-30);
  border-bottom: 1px solid var(--text-color-30);
  margin-bottom: var(--space-01);
}

ul.index-list {
  margin-bottom: var(--space-02);
}

ul.index-list h3 {
  font-weight: normal;
  margin-bottom: var(--space-01);
}

ul.index-list,
ul.index-list ul {
  list-style: none;
}


ul.index-list ul li {
  margin-bottom: var(--space-01);
}

ul.index-list a {
  margin-left: var(--space-01);
  color: var(--primary-color-70);
  text-decoration: underline;
}

ul.index-list a:hover {
  text-decoration: underline;
}

ul.index-list a:focus {
  outline: 2px solid var(--primary-color-40);
}

ul.index-list a:active {
  color: var(--primary-color-80);
}

/* MEDIA QUERIES */
@media all and (min-width: 601px) {
  .index {
    text-align: center;
  }
}
