@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");

/* || Contents
- Resets
(SMACSS)
- base
- Layout
- State
- Module
- Theme
(end of SMACSS)
- Media Queries
*/

/* ===== Resets */
* {
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* ===== Base */
#menu li {
  list-style: none;
}

button {
  border: none;
  box-shadow: none;
  background-color: #fff;
  cursor: pointer;
}

/* ===== Layout */
/* HEADER */
header {
  width: 100%;
  /* display properties */
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  z-index: 999;
}

.logo-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.logo-text {
  display: inline-block;
  vertical-align: middle;
  color: var(--text-color-80);
}

/* MAIN */
img.figures {
  width: calc(100% - 32px);
  max-width: 960px;
  /* centers image */
  /* display block gives un-alignment and interection collision with aside element*/
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

.highlight-box {
  list-style: inside;
  /* L / R paddings at '_space.css' */
}

/* ASIDE - featured */
aside.featured {
  display: block;
  position: relative;
}

.cards {
  width: 288px;
}

.cards-wrapper {
  display: block;
  position: relative;
  width: 288px;
  height: 276px;
}

.cards__image {
  width: 288px;
  height: 162px;
}

.cards__text {
  width: calc(288px - 21px);
  height: 89px;
}

.tags {
  position: absolute;
  width: auto;
}

/* ASIDE - Language Container */
.language-icon-wrapper {
  display: block;
  position: relative;
}

.language-icon {
  display: block;
  position: relative;
  width: 33px;
  height: 23px;
}

.language-column-wrapper {
  display: flex;
  position: relative;
}

.column-1,
.column-2 {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  line-height: 28px; /* 14px * 2 */
}

.column-1 a,
.column-2 a {
  margin-right: auto;
}

/* FOOTER */
footer {
  text-align: center;
  width: auto;
}

/* ===== Module */

/* ===== States ===== */
/* Logo */
.logo {
  cursor: pointer;
}

/* Hamburger module */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.1);
  z-index: 1;
  cursor: pointer;
}

/* Sidebar */
nav.open {
  /* Display for items */
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  /* module position */
  top: 0;
  right: 0;
  z-index: 999;
  /* Diemnsions */
  width: 228px;
  height: 100%;
  background-color: #fff;
  /* Box shadows */
  -webkit-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
}

nav button[aria-controls="menu"].open {
  position: fixed;
  right: 0;
  /* See more at '_space.css':
  -  Menu hmaburger - Open */
  outline: none;
  border: none;
}

nav ul.open {
  margin-top: 59px;
}

.cards {
  transition: transform 0.3s;
}
.cards:hover {
  transform: scale(1.05);
}

.cards:active {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.9);
  transform: translate(4px, 4px);
}

/* Hamburger Menu */
button[aria-controls="menu"] {
  width: 24px;
  height: 17px;
  outline: none;
  border: none;
}

.hamburger {
  width: 24px;
  height: 3px;
  background: #000;
  border-radius: 25%;
  position: absolute;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background: #000;
  border-radius: 25%;
}

.hamburger::before {
  top: -9px;
  left: 0;
}

.hamburger::after {
  top: 9px;
  left: 0;
}

button:hover .hamburger,
button:hover .hamburger::before,
button:hover .hamburger::after,
button:focus .hamburger,
button:focus .hamburger::before,
button:focus .hamburger::after {
  background-blend-mode: screen;
  background-color: var(--primary-color-40);
}

/* Hamburger animations */
.hamburger {
  /* animation presets */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hamburger::before,
.hamburger::after {
  /* animation presets */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* animation when active */
/* Makes the middle line disappear */
.icon-container.active .hamburger {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

/* Rotates and position the top and bottom lines */
.icon-container.active .hamburger::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon-container.active .hamburger::after {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* Apply dropd shadow styles after scroll */
header.scrolling-active {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
.language-column-wrapper a:hover {
  text-decoration: underline;
}

.back-to-top {
  display: none;
  filter: grayscale(100%);
}

.back-to-top.reveal {
  display: block;
  position: fixed;
  cursor: pointer;
}

.back-to-top:hover {
  filter: none;
}

/* ===== Theme */
/* HEADER */
a.logo-link:focus {
  outline: none;
  border: none;
  /* 'color' change found at '_color.css' */
}

a.link.active:hover {
  cursor: default;
}

/* MAIN */
.underlined {
  padding-bottom: var(--space-01);
  border-bottom: 1px solid var(--text-color-30);
}

/* External Link Icon */
a[target="_blank"] {
  text-decoration: underline;
}

a[target="_blank"]::after {
  font-family: "FontAwesome";
  content: " \f08e";
}

/* ASIDE - featured */
.cards {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

.tags {
  background-color: #ebebeb;
}

/* FOOTER */
footer a {
  cursor: pointer;
  text-decoration: underline;
}

/* ===== Media Queries ===== */
/* S - Mobile */
@media all and (min-width: 640px) {
  /* Change display for .cards */
  aside.featured .cards-group {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

@media all and (max-width: 960px) {
  main {
    /* NB: Used because it pops out more than the menu module  */
    z-index: -1;
  }
}

/* M */
@media all and (min-width: 601px) and (max-width: 960px) {
  .cards {
    width: 100%;
    display: inline-block;
  }
}

@media all and (min-width: 601px) {
  img.figures {
    width: calc(100% - 64px);
  }

  .cards-wrapper {
    width: auto;
    height: auto;
  }

  section.cards {
    height: auto;
  }

  img.cards__image {
    width: 100%;
  }

  .cards__text {
    height: auto;
    width: 100%;
    white-space: nowrap;
  }

  /* Prevents text overflow that changes the .cards dimensions.
  It was either this solution of cur some words at the html file. */
  .cards__text p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media all and (min-width: 690px) {
  main h1,
  main p {
    width: 690px;
    max-width: 690px;
  }

  main h1.preset-margins,
  p.preset-margins {
    margin-left: auto;
    margin-right: auto;
  }

  .highlight-box {
    width: calc(690px - var(--space-01));
    max-width: calc(690px - var(--space-01));
    margin-left: auto;
    margin-right: auto;
  }

  .column-1 a,
  .column-2 a {
    margin: auto;
  }
}

/* L */
@media all and (min-width: 960px) {
  header {
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    display: block;
  }

  .logo {
    text-align: center;
  }

  button[aria-controls="menu"] {
    display: none;
  }

  nav ul#menu {
    display: block;
    text-align: center;
  }

  #menu li {
    display: inline-block;
  }

  main,
  aside {
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
  }

  .cards-group {
    width: 960px;
    max-width: 960px;
  }

  .cards-wrapper,
  .cards {
    width: 425.5px;
    height: 318px;
  }
}
