/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'); */

* {
  margin: 0;
  padding: 0;
  z-index: 0;
}

/*
===== Table of Content =====

- Base
- Layout
- Module
- States
- Themes
- Media Queries
 */
/* ===== Base ===== */
#menu li {
  list-style: none;
}

button {
  border: none;
  box-shadow: none;
  background-color: #fff;
  cursor: pointer;
}

/* ===== Layout ===== */
/* HEADER */
header {
  width: 100%;
  background-color: #fff;
  /* display properties */
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
}

.logo-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.logo-text {
  display: inline-block;
  vertical-align: middle;
}

/* MAIN */
main {
  /* NB: Used because it pops out more than the menud module  */
  z-index: -1;
}

/* TODO: TESTING BELOW */
/* p {
  width: 41ch;
  word-wrap: break-word;
  margin: 0 auto;
  overflow: hidden;
} */

img.figures {
  width: calc(100% - 32px);
  /* max-width: 960px; */
  /* centers image */
  display: block;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

.highlight-box {
  list-style: inside;
}

.cards {
  display: block;
  width: 256px;
  height: 224px;
}

.cards__image {
  width: 256px;
  height: 145px;
}

.cards__text {
  width: 256px;
  height: 79px;
}

.tags {
  position: absolute;
  width: auto;
}

/* ===== Module ===== */
/* External Link Icon */
a[target="_blank"] {
  text-decoration: underline;
}

a[target="_blank"]::after {
  font-family: 'FontAwesome';
  content: " \f08e";
}

/* ===== States ===== */
/* Logo */
.logo {
  cursor: pointer;
}

/* Hamburger module */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.1);
  z-index: 1;
  cursor: pointer;
}

/* Sidebar */
nav.open {
  /* Display for items */
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  /* module position */
  top: 0;
  right: 0;
  z-index: 999;
  /* Diemnsions */
  width: 228px;
  height: 100%;
  background-color: #fff;
  /* Box shadows */
  -webkit-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
}

nav button[aria-controls="menu"].open {
  position: fixed;
  right: 0;
  /* See more at '_space.css':
  -  Menu hmaburger - Open */
}

nav ul.open {
  margin-top: 59px;
}

.card:hover {
  /* Give it a pop out effect! */
}

/* Hamburger Menu */
button[aria-controls="menu"] {
  width: 24px;
  height: 17px;
}

.hamburger {
  width: 24px;
  height: 3px;
  background: #000;
  border-radius: 25%;
  position: absolute;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  background: #000;
  border-radius: 25%;
}

.hamburger::before {
  top: -9px;
  left: 0;
}

.hamburger::after {
  top: 9px;
  left: 0;
}

button:hover,
button:focus {
  /* Change color to a blue? */
}

/* Hamburger animations */
.hamburger {
  /* animation presets */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hamburger::before,
.hamburger::after {
  /* animation presets */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* animation when active */
/* Makes the middle line disappear */
.icon-container.active .hamburger {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

/* Rotates and position the top and bottom lines */
.icon-container.active .hamburger::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon-container.active .hamburger::after {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* Apply dropd shadow styles after scroll */
header.scrolling-active {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

/* ===== Theme ===== */
/* HEADER */
/* MAIN */
.cards {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

.tags {
  background-color: #EBEBEB
}

/* ===== Media Queries ===== */
/* S - Mobile */
@media all and (min-width: 600px) {

  /* Menu */
  /* States */
  /* Cards */
  .cards {
    /* Height x width */
  }
}

/* M */
@media all and (max-width: 1024px) {}

/* L */
@media all and (min-width: 1024px) {

  header,
  main,
  aside,
  footer {}
}
