/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'); */

/* TODO:
- Position the cards for Tablet Display
- Ready for desktop view
*/

/* || Contents
- Resets
(SMACSS)
- base
- Layout
- State
- Module
- Theme
(end of SMACSS)
- Media Queries
*/

/* ===== Resets */
* {
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* ===== Base */
#menu li {
  list-style: none;
}

button {
  border: none;
  box-shadow: none;
  background-color: #fff;
  cursor: pointer;
}

/* ===== Layout */
/* HEADER */
header {
  width: 100%;
  /* display properties */
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  z-index: 999;
}

.logo-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.logo-text {
  display: inline-block;
  vertical-align: middle;
}

/* MAIN */
img.figures {
  width: calc(100% - 32px);
  max-width: 960px;
  /* centers image */
  /* display block gives un-alignment and interection collision with aside element*/
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

.highlight-box {
  list-style: inside;
  /* L / R paddings at '_space.css' */
}

/* ASIDE - featured */
aside.featured {
  display: block;
  position: relative;
}

.cards {
  width: 288px;
}

.cards-wrapper {
  display: block;
  position: relative;
  width: 288px;
  height: 276px;
}

.cards__image {
  width: 288px;
  height: 162px;
}

.cards__text {
  width: calc(288px - 21px);
  height: 89px;
}

.tags {
  position: absolute;
  width: auto;
}

/* ASIDE - Language Container */
.language-icon-wrapper {
  display: block;
  position: relative;
}

.language-icon {
  display: block;
  position: relative;
  width: 33px;
  height: 23px;
}

.language-column-wrapper {
  display: flex;
  position: relative;
}

.column-1,
.column-2 {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  line-height: 28px; /* 14px * 2 */
}

/* FOOTER */
footer {
  text-align: center;
  /* TODO: Add Hover / focus / Active states */
}

/* ===== Module */

/* ===== States ===== */
/* Logo */
.logo {
  cursor: pointer;
}

/* Hamburger module */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.1);
  z-index: 1;
  cursor: pointer;
}

/* Sidebar */
nav.open {
  /* Display for items */
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  /* module position */
  top: 0;
  right: 0;
  z-index: 999;
  /* Diemnsions */
  width: 228px;
  height: 100%;
  background-color: #fff;
  /* Box shadows */
  -webkit-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
}

nav button[aria-controls="menu"].open {
  position: fixed;
  right: 0;
  /* See more at '_space.css':
  -  Menu hmaburger - Open */
}

nav ul.open {
  margin-top: 59px;
}

/* (1)hover -> (2)Focus -> (3)Active */
.cards {
  transition: transform 0.3s;
}
.cards:hover {
  transform: scale(1.05);

}

.cards:active {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.9);
  transform: translate(4px, 4px);
}

/* Hamburger Menu */
button[aria-controls="menu"] {
  width: 24px;
  height: 17px;
}

.hamburger {
  width: 24px;
  height: 3px;
  background: #000;
  border-radius: 25%;
  position: absolute;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  background: #000;
  border-radius: 25%;
}

.hamburger::before {
  top: -9px;
  left: 0;
}

.hamburger::after {
  top: 9px;
  left: 0;
}

button:hover,
button:focus {
  /* Change color to a blue? */
}

/* Hamburger animations */
.hamburger {
  /* animation presets */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hamburger::before,
.hamburger::after {
  /* animation presets */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* animation when active */
/* Makes the middle line disappear */
.icon-container.active .hamburger {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

/* Rotates and position the top and bottom lines */
.icon-container.active .hamburger::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon-container.active .hamburger::after {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* Apply dropd shadow styles after scroll */
header.scrolling-active {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
.language-column-wrapper a:hover {
  text-decoration: underline;
}

/* ===== Theme */
/* HEADER */
a.link.active:hover {
  cursor: default;
}

/* MAIN */
/* External Link Icon */
a[target="_blank"] {
  text-decoration: underline;
}

a[target="_blank"]::after {
  font-family: 'FontAwesome';
  content: " \f08e";
}

/* ASIDE - featured */
.cards {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

.tags {
  background-color: #EBEBEB
}

/* FOOTER */
footer a {
  cursor: pointer;
  text-decoration: underline;
}

/* ===== Media Queries ===== */
/* S - Mobile */
@media all and (min-width: 600px) {

  /* p {
    width: 53ch;
    word-wrap: break-word;
    margin: 0 auto;
    overflow: hidden;
  } */

  /* .highlight-box {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */

  /* Menu */
  /* States */
  /* Cards */
  .cards {
    /* Height x width */
  }
}

@media all and (min-width: 640px) {
  /* Change display for .cards */
  aside.featured .cards-group {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

@media all and (max-width: 960px) {
  main {
    /* NB: Used because it pops out more than the menu module  */
    z-index: -1;
  }

}

/* M */
@media all and (min-width: 601px) and (max-width: 960px) {
  img.figures {
    width: calc(100% - 64px);
  }

  .cards-wrapper {
    width: auto;
    height: auto;
  }

  .cards {
    width: 100%;
    display: inline-block;
  }

  section.cards {
    height: auto;
  }

  img.cards__image {
    width: 100%;
  }

  .cards__text {
    height: auto;
    width: 100%;
    white-space: nowrap;
  }

  /* Prevents text overflow that changes the .cards dimensions.
  It was either this solution of cur some words at the html file. */
  .cards__text p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/* L */
@media all and (min-width: 1024px) {

}
